@import "styles/variables.scss";
@import "@material/layout-grid/mdc-layout-grid";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
//Custom themes
@import "styles/custom-themes/dark-theme.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-error {
  color: $brand-red-error;
}

.pointer {
  &:hover {
    cursor: pointer;
  }
}
